
*  {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background-image: url("https://img.freepik.com/free-vector/football-green-grass-stadium-texture-top-view_107791-20406.jpg?w=1380&t=st=1726769880~exp=1726770480~hmac=c3eecd48f48a138bf719ad242fb1cf7b29448f07de46c23f168304219957da05");
    background-size: cover;
    background-repeat: round;    
}

/* -------------------- HEADER -------------------- */

.header {
  background-color: rgba(0, 0, 0, 0.5);
  margin-bottom: 80px; 
  color: #eee;
}

.header__container {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #0005;
  gap: 10px;
  padding: 15px;
  
}

.header__logo {
  width: 70px;
  margin-left: 10px;
  object-fit: cover;
  background-color: #eee;
  border-radius: 15px;
}

h1 {
  font-size: 28px;
  text-transform: capitalize;
  font-style: italic;
}

/* ------------ NAV-BAR ------------ */
.nav-bar {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    overflow: hidden;
    background-color: transparent;
  }
  
  nav.nav-bar ul{
    display: flex;
    margin-left: 25px;
  }

  /* Navbar links */
  .nav-bar a, .nav-bar button {
    /* float: left; */
    display: inline-block;
    text-align: center;
    padding: 12px;
    color: white;
    text-decoration: none;
    font-size: 17px;
  }

  .menu {
    background-color: transparent;
    border: none;
  }
  
  /* Navbar links on mouse-over */
  .nav-bar a:hover, .nav-bar button:hover {
    background-color: rgba(255, 255, 255, 0.2);
  }
  
  /* Current/active navbar link */
  .active {
    background-color: #04AA6D;
  }

  .sidenav {
    height: 100%;
    width: 0;
    position: fixed; /* se posiciona con respecto al navegador */
    z-index: 1; /* indica jerarquia de elementos superpuestos*/
    top: 0;
    left: 0;
    background-color: rgb(0, 0, 0);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover, .sidenav .closebtn:hover {
    color: rgba(255, 255, 255, 0.5);
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 25px;
    margin-left: 50px;
    background-color: transparent;
    color: #f1f1f1;
    border: none;
  }

  .sidenav ul, .nav-bar ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
  }

  span {
    font-size:30px;
    cursor:pointer;
  }
  /* ---------- FIN-NAV-BAR ---------- */

/* ------------------ FIN-HEADER ------------------ */


/* -------------------- TABLA -------------------- */
#tabla-pos {
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0.5);
  border-spacing: 0;
  border: none;
  border-radius: 13px;
  width: 750px;
}

tbody tr { 
cursor: pointer;
}

tr:nth-child(odd) {
background-color: #94e99121;
}

#header-tabla {
background-color: transparent;
}

tbody tr:hover {
background-color:rgba(234, 47, 18, 0.249);
}

th {
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

td {
border-top: 1px dashed rgba(255, 255, 255, 0.5);
border-bottom: 1px dashed rgba(255, 255, 255, 0.5);
}

th, td {
  text-align: center;
  padding: 6px;
  color: white;
}

.team-name {
  text-align: left;
}

#tabla-pos tbody tr:last-child td {
border-bottom: none;
}

#tabla-pos tbody tr:first-child td {
border-top: none;
}

#tabla-pos thead tr th:not(:last-child) {
border-right: 1px solid rgba(255, 255, 255, 0.5);
}

#tabla-pos tbody tr td:not(:last-child) {
border-right: 1px dashed rgba(255, 255, 255, 0.5);
}
/* ------------------- FIN-TABLA ------------------- */


/* -------------------- FOOTER --------------------- */

.footer{
  margin-top: 80px;
  background-color:rgba(0, 0, 0, 0.5);
  font-size: 13px;
  color: #eee;
}

.footer__container{
  display: flex;
  justify-content: space-evenly;
  margin: auto;
  padding: 40px;
}

.footer__list{
  list-style-type: none;  
}

.footer__item-label{
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
  margin-bottom: 10px;
}

.footer__link{
  display: inline-block;
  text-decoration: none;
  margin: 6px 0;
  color: inherit;
  padding: 1px;
}

.footer__link:hover{
  text-decoration:underline;
  color: revert;
}

.footer__text{
  padding: 10px;
  text-align: center;
  border-top: 1px solid #0007;
}

/* ------------------- FIN-FOOTER ------------------ */