
/* -------------------- TABLA -------------------- */
#tabla-pos {
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0.8);
  border-spacing: 0;
  border: none;
  border-radius: 13px;
  width: 750px;
}

tbody tr { 
cursor: pointer;
}

tr:nth-child(odd) {
background-color: #94e99121;
}

#header-tabla {
background-color: transparent;
}

tbody tr:hover {
background-color:rgba(234, 47, 18, 0.249);
}

th {
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

td {
border-top: 1px dashed rgba(255, 255, 255, 0.5);
border-bottom: 1px dashed rgba(255, 255, 255, 0.5);
}

th, td {
  text-align: center;
  padding: 6px;
  color: white;
}

.team-name {
  text-align: left;
}

#tabla-pos tbody tr:last-child td {
border-bottom: none;
}

#tabla-pos tbody tr:first-child td {
border-top: none;
}

#tabla-pos thead tr th:not(:last-child) {
border-right: 1px solid rgba(255, 255, 255, 0.5);
}

#tabla-pos tbody tr td:not(:last-child) {
border-right: 1px dashed rgba(255, 255, 255, 0.5);
}
/* ------------------- FIN-TABLA ------------------- */
