* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

body {
  background-image: url("https://img.freepik.com/free-vector/football-green-grass-stadium-texture-top-view_107791-20406.jpg?w=1380&t=st=1726769880~exp=1726770480~hmac=c3eecd48f48a138bf719ad242fb1cf7b29448f07de46c23f168304219957da05");
  background-size: cover;
  background-repeat: round;
  display: flex;
  flex-direction: column;
  align-items: start;
  min-height: 100vh;
}

header,
main,
footer {
  width: 100%;
}

main {
  margin: 120px 0
}

/* -------------------- HEADER -------------------- */
.header {
  background-color: #111;
  color: #eee;
  margin-top: 30px;
  position: sticky;
  top: 0;
  z-index: 1;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3); 
}

.header__container {
  display: flex;
  align-items: center;
  /* margin: auto; */
  position: relative;
  z-index: 10;
}

.header__logo {
  display: inline-block;
  background-color: #04AA6D;
  padding: 10px 35px;
  clip-path: polygon(10% 0, 95% 0, 90% 100%, 5% 100%);
  
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  box-shadow: 0 4px 6px rgba(255, 255, 255, 0.2);
}

.header__logo a {
  color: inherit;
  text-decoration: none;
}

.header__logo:hover {
  transform: translateY(-2px); 
  box-shadow: 0 8px 12px rgba(255, 255, 255, 0.4);
}

.header__logo:active {
  transform: translateY(2px); 
  box-shadow: 0 2px 4px rgba(255, 255, 255, 0.2);
}


h1 {
  font-size: clamp(18px, 3vw, 22px);
  font-style: italic;
  text-transform: uppercase;
  font-weight: bold;
  white-space: nowrap;
}

/* ------------ NAV-BAR ------------ */
.header__navbar-checkbox {
  display: none;
}

.header__navbar-checkbox:checked~.header__navbar {
  display: block;
  /* display: flex; */
}

.header__navbar {
  display: none;
  background-color: #111;
  position: absolute;
  height: 100vh;
  width: 100vw;
  top: 100%;
  right: 0;
  /* border-top: 1px solid #777 ; */
  z-index: -1;
}

.header__navbar-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style-type: none;
  margin-top: 100px;
  gap: 10px;
}

.header__navbar-link,
.header__navbar-button {
  color: inherit;
  text-transform: lowercase;
  font-variant: small-caps;
  font-weight: 700;
  font-size: 17px;
  white-space: nowrap;
  padding: 12px;
  /* transition: transform 0.2s ease; */
}

.header__navbar-button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.header__navbar-link {
  display: inline-block;
  text-decoration: none;
}

.header__items-divisor {
  background-color: #777;
  height: 1px;
  width: 50vw;
  margin: 30px;
}

/* --- LINK-TRANSITION --- */

.header__navbar-list:hover .header__navbar-link,
.header__navbar-list:hover .header__navbar-button {
  opacity: 0.5;
  transition: opacity 0.3s ease;
}

.header__navbar-item .header__navbar-link:hover,
.header__navbar-item .header__navbar-button:hover {
  opacity: 1;
}

#contact-button,
#myBtn {
  background-color: #ddd;
  color: #000;
  border-radius: 50px;
  padding: 6px 12px;
  margin: 5px 0;
}

#contact-button:hover,
#myBtn:hover {
  border-radius: 20px;
}

/* --- CURRENT-LINK --- */

.header__navbar-link--active {
  position: relative;
  color: orange;
}

.header__navbar-link--active::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 2px;
  width: 100%;
  height: 3px;
  background-color: orange;
}

/* ---- MENU/CLOSE-BUTTON ---- */

.header__open-nav-button {
  display: flex;
  flex-direction: column;
  width: 28px;
  height: 20px;
  gap: 5px;
  position: absolute;
  right: 20px;
  cursor: pointer;
  justify-content: center;
}

.header__open-nav-button span {
  width: 100%;
  height: 2px;
  background-color: #eee;
  transition: all 0.3s ease;
}

/* Animación al hacer clic */
.header__navbar-checkbox:checked+.header__open-nav-button span:first-child {
  transform: translateY(7px) rotate(45deg);
}

.header__navbar-checkbox:checked+.header__open-nav-button span:nth-child(2) {
  opacity: 0;
}

.header__navbar-checkbox:checked+.header__open-nav-button span:last-child {
  transform: translateY(-7px) rotate(-45deg);
}

/* -------- MEDIA-QUERIES -------- */

@media screen and (min-width: 1095px) {

  .header__container {
    overflow-x: hidden;
    padding: 0 50px 0 45px
  }

  .header__navbar {
    position: static;
    display: block;
    width: 100%;
    height: auto;
    background-color: transparent;
  }

  .header__navbar-list {
    flex-direction: row;
    margin: 0;
  }

  #last-item {
    flex-basis: 300px;
    flex-grow: 1;
    flex-shrink: 0;
  }

  .header__open-nav-button {
    display: none;
  }

  .header__items-divisor {
    display: none;
  }

  #contact-button,
  #myBtn {
    margin: 0;
  }

  .header__navbar-link--active {
    color: inherit;
  }
  
  .header__navbar-link--active::after {
    bottom: -1px;
  }
}

/* ---------- FIN-NAV-BAR ---------- */
/* ------------------ FIN-HEADER ------------------ */

/* -------------------- FOOTER --------------------- */

.footer {
  margin-top: auto;
  background-color: #111;
  font-size: 13px;
  color: #eee;

}

.footer__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 40px 20px;
}

.footer__list {
  list-style-type: none;
  margin: 20px 10px;
}

.footer__item--label {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
  margin-bottom: 10px;
}

.footer__link {
  display: inline-block;
  text-decoration: none;
  margin: 6px 0;
  color: inherit;
  padding: 1px;
}

.footer__link:hover {
  text-decoration: underline;
  color: #04AA6D;
}

.footer__text {
  padding: 10px;
  text-align: center;
  border-top: 1px solid #0007;
}

.footer__list .footer__item:last-child .footer__link {
  margin-bottom: 0;
}

/* --------- VENTANAS-MODAL --------- */

.modal-window {
  background-color: #000;
  margin: auto;
  max-width: 80;
  border-radius: 15px;
}

.modal-window::backdrop {
  background-color: #0009;
}

.modal-window__container {
  position: relative;
  color: #eee;
  font-size: clamp(10px, 3vw, 14px);
  padding: 50px;
  margin: auto;
}

.modal-window__button {
  position: absolute;
  right: 20px;
  font-weight: 700;
  border: none;
}

.modal-window__button--close {
  top: 20px;
  background-color: transparent;
  font-size: 28px;
  padding: 0 2px;
  color: inherit;
}

.modal-window__button--up {
  bottom: 20px;
  padding: 5px 10px;
  background-color: #04AA6D;
  border-radius: 14px;
}

.modal-window__button:hover {
  color: rgb(233, 105, 105);
  text-decoration: none;
  cursor: pointer;
}

.modal-window__title {
  text-align: center;
  background-color: #04AA6D;
  margin: auto;
  border-radius: 10px;
  width: 90%;
}

.modal-window__content {
  margin: auto;
  width: 90%;
}

.modal-window__content p {
  margin: 10px 0;
}


.modal-window__content h3 {
  margin: 10px 0;
  color: #04AA6D;
}

.modal-window__content ol {
  margin-left: 30px;
}

.modal-window__content p+h3,
.modal-window__content ol+h3 {
  margin-top: 30px;
}

h2.modal-window__title+.modal-window__content p:first-child {
  margin-top: 50px;

}

.arrow {
  border: solid #eee;
  border-width: 0 4px 4px 0;
  display: inline-block;
  padding: 5px;
  margin-top: 7px;
}

.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

/* --------- FIN-VENTANAS-MODAL --------- */

/* ------------------ FIN-FOOTER ------------------- */


/* ------------ BARRA-DE-DESPLAZAMIENTO ------------ */

/* Estilo general de la barra de desplazamiento */
::-webkit-scrollbar {
  width: 15px;
  /* Ancho de la barra de desplazamiento */
  height: 15px;
  /* Altura de la barra en elementos horizontales */
}

/* Estilo del "track" (fondo) de la barra de desplazamiento */
::-webkit-scrollbar-track {
  background: #f0f0f0;
  /* Color de fondo del track */
  border-radius: 10px;
  /* Opcional: redondear las esquinas */
}

/* Estilo del "thumb" (la parte que se mueve) de la barra de desplazamiento */
::-webkit-scrollbar-thumb {
  background-color: #999;
  /* Color del thumb */
  border-radius: 10px;
  /* Opcional: redondear las esquinas */
  border: 3px solid #f0f0f0;
  /* Espacio entre el thumb y el track */
}

/* Cambiar el color del thumb cuando el usuario lo pasa por encima */
::-webkit-scrollbar-thumb:hover {
  background-color: #777;
  /* Color del thumb al pasar el cursor */
}

/* Cambiar el color del thumb cuando el usuario hace clic */
::-webkit-scrollbar-thumb:active {
  background-color: #555;
  /* Color del thumb al hacer clic */
}

/* ---------- FIN-BARRA-DE-DESPLAZAMIENTO ---------- */